// Overwrite styles of menu bar

.menu-container .menu-bar .menu-items > li.menu-item.user-profile {
  border-bottom: 1px solid rgba(#c4c4c4, 0.5);

  .item-text {
    margin-left: 1rem;
    color: #000000;
  }

  @media (min-width: 992px) {
    position: absolute;
    right: 1rem;
    border-bottom: 0;
    min-width: 220px;

    &::before {
      content: '';
      display: block;
      height: 100%;
      border-left: 1px solid #c4c4c4;
      margin-right: 3rem;
      transform: scale(0.5);
    }

    .item-text {
      display: none;
    }
  }

  .icon-arrow-down {
    font-size: 0.5rem;
  }
}

.menu-container .menu-bar .menu-items > li.menu-item.user-profile ul {
  min-width: 200px;
  @media (min-width: 992px) {
    transform: translate(0);
  }
}

.menu-container .menu-bar .menu-items > li.menu-item.user-profile ul li {
  @media (max-width: 991px) {
    padding-left: 0 !important;
  }
}
