.ontop-custom-table {
  .p-datatable-tbody > tr > td > .p-column-title,
  .p-datatable-thead > tr > th {
    font-weight: 700;
  }

  .p-datatable-thead > tr > th {
    border: none;
    padding-bottom: 2.5rem;
  }

  .p-datatable-tbody > tr > td {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: none;
  }

  .p-datatable-tbody > tr:nth-child(odd) {
    background-color: map-get($palette, 'gray-4');
  }

  .p-datatable-thead > tr > .actions-th,
  .p-datatable-tbody > tr > .actions-td {
    text-align: center;
  }

  .p-datatable-tbody > tr > td .table-actions-icon {
    color: #c4c4c4;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
  }

  @media (max-width: 960px) {
    .p-datatable-tbody {
      display: flex;
      flex-direction: column;
    }

    .p-datatable-tbody > tr {
      padding: 1rem;
      margin-top: 1.5rem;
      box-shadow: $default-shadow;
      border-radius: 5px;
      background-color: map-get($palette, 'white');
    }

    .p-datatable-tbody > tr:nth-child(odd) {
      background-color: map-get($palette, 'white');
    }

    .p-datatable-tbody > tr > td {
      padding-top: 1rem;
      padding-bottom: 1rem;
      border: 0 none;
    }

    .p-datatable-tbody > tr > td:nth-child(odd) {
      background-color: map-get($palette, 'gray-4');
    }

    .p-datatable-tbody > tr > .actions-td {
      text-align: left;
    }

    .p-datatable-tbody > tr > .actions-td .p-column-title {
      width: 100%;
    }
  }

  @media (max-width: 400px) {
    .p-datatable-tbody > tr > td,
    .p-datatable-tbody > tr > td > .p-column-title {
      font-size: 0.8rem;
    }
  }
}

.ontop-table-actions.p-menu.p-menu-overlay {
  border: none;
  box-shadow: $default-shadow;
  padding: 0.5rem;

  .p-menuitem-link {
    padding: 1rem;
  }

  li:not(:last-child) .p-menuitem-link {
    border-bottom: 1px solid map-get($palette, 'gray');
  }

  .p-menuitem-link:hover {
    background-color: transparent;
  }

  .p-menuitem-link:hover span:first-child {
    color: map-get($palette, 'primary');
  }
}
