<div class="filters-container">
  <div class="flex flex-column md:flex-row">
    <div class="search-input-container">
      <span class="p-input-icon-left w-full h-full">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="Search" class="h-full" />
      </span>
    </div>

    <div class="flex md:flex-shrink-0 mt-3 md:mt-0 md:ml-4">
      <button
        pButton
        type="button"
        icon="icon-filter"
        label="Filter"
        class="ontop-btn p-button-secondary flex-shrink-0"
        style="min-width: 100px"
        (click)="toggleFilters()"
      ></button>
      <button
        pButton
        type="button"
        icon="icon-add"
        label="New hire"
        class="ontop-btn p-button-primary ml-3 hire-btn"
      ></button>
    </div>
  </div>
  <ng-container *ngIf="showFilters$ | async">
    <div
      class="flex flex-column filters-second-row sm:flex-row sm:flex-wrap md:flex-nowrap"
    >
      <p-calendar
        selectionMode="range"
        inputId="range"
        class="control-filter mt-3 sm:mt-2 md:mt-3"
        placeholder="Select create on date range"
        [readonlyInput]="true"
      ></p-calendar>

      <p-dropdown
        placeholder="Select a City"
        optionLabel="name"
        class="control-filter mt-2 md:mt-3"
        appendTo="body"
        [showClear]="true"
        [options]="contractTypes"
      ></p-dropdown>

      <input
        class="control-filter ontop-shadow-control mt-2 md:mt-3"
        type="text"
        pInputText
        placeholder="Contractor Name"
      />

      <p-dropdown
        placeholder="Select a City"
        optionLabel="name"
        class="control-filter mt-2 md:mt-3"
        appendTo="body"
        [options]="status"
        [showClear]="true"
      ></p-dropdown>
    </div>

    <div class="flex">
      <button class="clear-filters ml-auto mt-3">
        <i class="icon-delete mr-2"></i>
        <span>Clear Filters</span>
      </button>
    </div>
  </ng-container>
</div>
