<ontop-menu-bar [items]="items"></ontop-menu-bar>
<div class="app-container">
  <div class="page-container">
    <router-outlet></router-outlet>
  </div>
  <div class="message-container">
    <ng-container *ngIf="isLargeDevice$ | async">
      <img src="/assets/images/message.svg" alt="message" />
    </ng-container>

    <ng-container *ngIf="(isLargeDevice$ | async) === false">
      <img
        src="/assets/images/message.svg"
        alt="message"
        cdkDragBoundary=".app-container"
        cdkDrag
      />
    </ng-container>
  </div>
</div>
