.app-container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;

  @media (min-width: 961px) {
    display: flex;
  }

  @media (min-width: 992px) {
    margin-top: 100px;
  }
}

.page-container {
  width: 100%;
  padding: 2rem 1rem;
}

.message-container {
  display: flex;
  justify-content: flex-end;

  img {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    cursor: pointer;
    position: absolute;
    top: 60px;
  }

  img:active {
    transform: scale(1.1);
  }

  @media (min-width: 961px) {
    img {
      width: 120px;
      height: 120px;
      position: static;
    }

    flex-shrink: 0;
    height: 80vh;
    position: sticky;
    top: 0;
    align-items: flex-end;
  }
}
