@import './scss/variables.scss';
@import './scss/palette.scss';
@import './scss/shadows.scss';
@import './scss/components/';

body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  font-family: Generalsans, sans-serif;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-container .menu-bar .menu-items > li.menu-item.user-profile {
  @media (min-width: 992px) {
    position: absolute;
    right: 1rem;
  }
}

.menu-container .menu-bar .menu-items > li.menu-item.user-profile ul {
  @media (min-width: 992px) {
    transform: translate(-70%);
  }
}
